################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test_VulgraadMeter/v16/Server/sqlite3/db.lock
